<!DOCTYPE HTML> 
<html>

<head>
<title>FDP Brakes</title>
<link type="text/css" rel="stylesheet" href="C:\Users\cboyd\FDP_report_project\FDPBrakes\Static\basic.css">
</head>

<body>
 <!--Report Title and Logo-->

 <section>
    <h1 align ="center">Brake Dynamometer Test Report</h1>
 <img src="C:\Users\cboyd\FDP_report_project\FDPBrakes\FDPLogo.jpg" alt="FDP"
 width="400" height="150" class="center">

 <!--Report Content-->
 <h4 align="center">SAE SAMPLE REPORT</h4>
    <p>Customer Test Report</p>
    <p>Link Report #</p>
    <p>Test Description</p>
</section>
<img src="C:\Users\cboyd\FDP_report_project\FDPBrakes\plot_1.png" alt="myplot">
{{name}}
</body>
</html>