<!DOCTYPE HTML> 
<html>

<head>
<title>FDP Brakes</title>
<link type="text/css" rel="stylesheet" href="C:\Users\cboyd\FDP_report_project\FDPBrakes\Static\basic.css">
</head>

<body>
   <!--Cover Page-->
 <section class = "coverpg">
   <div class="container">
      <img src="C:\Users\cboyd\FDP_report_project\FDPBrakes\Pictures\kimi-lee-Dsg--4yCqCI-unsplash.jpg" alt="coverimg" style="width:100%;">
      
      <div class="top-left">
         <section class = "intro">
            <h1>FDP BRAKES</h1>
            <h5>SAE STANDARD Inertia Dynometer TEST 321XYZ</h5>
         </section>
      </div>
      
    </div>
 </section>
 
 <!--Page 1-->
 <!--Report Title and Logo-->

 <section  class = "page">
    <h1 align ="center">Brake Dynamometer Test Report</h1>
 <img src="C:\Users\cboyd\FDP_report_project\FDPBrakes\Pictures\FDPLogo.jpg" alt="FDP"
 width="400" height="150" class="center">

 <!--Report Content-->
 <h4 align="center">SAE SAMPLE REPORT</h4>
    <p>Customer Test Report</p>
    <p>Link Report #</p>
    <p>Test Description</p>
</section>
<img src="C:\Users\cboyd\FDP_report_project\FDPBrakes\plot_1.png" alt="myplot">
{{name}}
</body>
</html>