<!DOCTYPE HTML> 
<html>

<head>
<title>FDP Brakes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="C:\Users\cboyd\FDP_report_project\FDPBrakes\Static\basic.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
   <!--Cover Page-->
 <section>
   <div class = "container">
      <img  src="C:\Users\cboyd\FDP_report_project\FDPBrakes\Pictures\kimi-lee-Dsg--4yCqCI-unsplash.jpg" alt="coverimg" style="width:100%;" class="img-rounded img1">
      
      <div class = "top-left">
         <img src="C:\Users\cboyd\FDP_report_project\FDPBrakes\Pictures\FDPLogo.jpg" alt="FDP" >
      </div>
      
   
      <div class="bottom-right">
         <div class = "bg">
            <h1> <br><b> Test Vehicle: Tesla Truck <br><h3>SAE STANDARD J2707 <br>  Inertia Dynamometer Test  </h3></b><br></h1>
         </div>
      </div>
      <div class ="centered"><h2><mark><b>*EXAMPLE*</b></mark></h2>  </div>
   </div>
    
 </section>
 
 <!--Page 1-->
 <!--Report Title and Logo-->

 <section  class = "page">
    <h1 align ="center">Brake Dynamometer Test Report</h1>
 <img src="C:\Users\cboyd\FDP_report_project\FDPBrakes\Pictures\FDPLogo.jpg" alt="FDP"
 width="400" height="150" class="center">

 <!--Report Content-->
 <h4 align="center">SAE SAMPLE REPORT</h4>
    <p>Customer Test Report</p>
    <p>Link Report #</p>
    <p>Test Description</p>
</section>

<img src="C:\Users\cboyd\FDP_report_project\FDPBrakes\plot_1.png" alt="myplot">

</body>
</html>